body {
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	font-family: "Arial", sans-serif ;
	text-transform: uppercase;
	color:#000000;	
	background-color: #7dbb87;
}
.work-content__title{
	margin: 0;
	margin-top: 50px;
	font-family: "Marck Script", "Arial", sans-serif ;;
	font-size: 30px;
	line-height: 42px;
	text-align: center;
	color: #FBFFE8;
}
.layout-position {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;

}
.work-content__item {
	display: block;
	float: left;
	margin-top: 50px;
	width: 500px;
	font-size: 0;
	text-align: center;
	
}
.work-content__item:hover {
	-webkit-transform: scale(1.05);
  -ms-ransform: scale(1.05);
	transform: scale(1.05);
	transition: 0.7s;
}
.work-content__item img {
	display: block;
}
.work-content__item img:nth-of-type(2) {
	padding-top: 30px;
}
.work-content__item--shop {
	float: right;
	width: 350px;

}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}